*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
}
a{text-decoration: none;}
a:hover{text-decoration: none;}
li{list-style: none;}
p{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #606060;
}
/* *************************************** Navbar code starts here */

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    background-image:linear-gradient(#0a1225,#0a1225);
}
header .logo{
    color:#fff;
    font-weight: 700;
    padding-top: 10px;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active{
    background: #fff;
    color: #2b1055;
}
/* *************************************** Navbar ends here */
.header{  
margin-bottom: 50px;
width: 100%;
height:fit-content;
background-image:linear-gradient(#0a1225,#0a1225);
background-repeat: no-repeat;
background-size: 100% 100%;
position: relative;
clip-path: polygon(100% 0%,100% 74%,0% 100%,0 75%,0 0);
}
.header:before{
content: "";
position: absolute;
top:0%;
bottom: 0%;
left: 0;
right: 0;
opacity: .3;
z-index: -1;
}
.navbar:before{
    content: "";
    position: absolute;
    top:0%;
    bottom: 0%;
    left: 0;
    right: 0;
    opacity: .8;
    z-index: -1;
}
.nav-item a{
    color: #fff!important;
    font-weight: bold;
}
.header-section{
    width: 100%;
    height: inherit;
    color: white;
    display: inline-flexbox;
    text-align: center;
    position: relative;
}
.header-section h1{
    font-size: 50px;
}
.center-div{
    width: 100%;
    height: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.header-buttons a{
    margin-top: 20px;
}
.header-buttons a:hover{
    cursor: pointer;
}
.center-div p{
    font-size: 1rem;
    padding: 10px 0 20px 0;
    color: #fff;
}
/********************************************* feature section */
.fea-outcontainer{
    display: flex;
    padding: 0 35px;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: #ffffff;  
}
.horizontal-scroll{
    width: 140%;
    height: 200px;
    border-radius: 5px;
    border: 1px solid #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.scroll-button{
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
    padding: 20px;
    font-size: 40px;
    border: 0;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 5px;
    z-index: 1;
    cursor: pointer;
    transition: 1s;
}
.fea-container{
    display: flex;
    justify-content: flex-start;
    margin: 0 50px;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 0;
    transition: 0.5s all ease-out;
}
.fea-box{
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    border: none;
    margin: 10px;
    outline: none;
    box-shadow: -8px 8px 89px -55px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -38px 38px 8px -85px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -8px 8px 89px -55px rgba(0, 0, 0, 0.75);
}
.card p{
    color: gray;
}
/********************************************************* Screen section start here */

.screen-section{
    width: 100%;
    height:fit-content;
    padding-top: 180px;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(#0a1225,#0a1225);
    background-repeat: no-repeat;
    clip-path: polygon(100% 0%,100% 74%,0% 100%,0% 25%,100% 0%);
}
.screen-row{
    align-items: center;
}
/* *********************** contact *********************************** */
.about-section{
    margin-bottom: 70px;
}
.contact-section{
    align-items: center;
    text-align: center;
}
.contact-section h1{
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin-bottom: 70px;
}
.name,.email,.message{
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    color: #888;
    padding: 10px 6px;
    font-size: 14px;
    margin-bottom: 40px;
}
.name{
    width: 300px;
}
.email{
    width: 300px;
}
.message{
    min-width: 600px;
    max-width: 650px;
}
.touchbtn{
    background:#0a1225;
    color: white;
    padding: 12px 40px;
    border: 0;
    border-radius:100px ;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}
/* ************************************* Float button **************************** */
#myBtn {
    display: none;
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99;
    cursor: pointer;
    padding: 15px; 
    font-size: 50px; 
    background: none;
    border: none;
    box-shadow: -8px 8px 89px -55px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -38px 38px 8px -85px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -8px 8px 89px -55px rgba(0, 0, 0, 0.75);
  }
  #myBtn:hover {
    box-shadow: none;
  }
/* *************************** Footer  */
  .social-media{
      display: flex;
      list-style: none;
      font-size: 32px;
      margin-bottom: 20px;
  }
  .social-media a{
      margin: 0 20px;
      text-decoration: none;
      color: #fff;
  }
  .footercl{
      background-image: linear-gradient(#0a1225,#0a1225);
      height:fit-content;
      display: inline-flexbox;
      text-align: center;
      position: relative;
      justify-content: center;
  }
.footercon{
    justify-content: center;
    padding: 80px;
}
.links a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}